*~
.DS_Store
*.pyc
*.afphoto

# Temp data files
_tmp/

# Map pdfs (since the binary file changes whenever they are regenerated)
components/maps/map-pdf/*

# Archive
archive/maps/v1-hex/map-hex-22x19.jpg
archive/maps/v1-hex/map-hex-22x19.png
archive/maps/v2-voronoi-r1/*.png

third_party/
