*~
*.pyc
*.afphoto

# Temp data files
_tmp/

# Archive
archive/maps/v1-hex/map-hex-22x19.jpg
archive/maps/v1-hex/map-hex-22x19.png
archive/maps/v2-voronoi-r1/*.png

# Component output files
components/artifact-cards/png/
components/artifact-cards/svg/
components/sentry-cards/png/
components/sentry-cards/svg/
components/spell-cards/png/
components/spell-cards/svg/
components/tapestry-cards/png_out/
components/tapestry-cards/svg_out/
components/watcher-cards/png/
components/watcher-cards/svg/

# Maps (large files)
components/spell-cards/card-back-18.png
